torch
torchvision
torchaudio
transformers
accelerate
pandas
tqdm
munch
openai
anthropic
paramiko
pathlib
plotly
python-dotenv
google-genai
nvidia_smi
nvidia-ml-py3
sentencepiece
psutil
matplotlib
seaborn
bitsandbytes
google-generativeai
statsmodels
openpyxl
einops
scikit-learn
pandas
